/* ----- start global ----- */
:root {
  --default-margin: 16px;
  --header-height: calc(50px + 2 * var(--default-margin));
}

@supports (color: oklch(0 0 0)) {
  :root {
    --text-color: oklch(0.108 0.031 313.8);
    --text-color-hover: oklch(0.509 0.030 313.8);

    /* --main-color: oklch(0.819 0.099 304.8); */
    /* --main-color-light: oklch(0.849 0.069 304.8); */
    --main-color: #b174e7;
    --main-color-light: #bd98e3
  }
}

html {
  height: 100%;
  font-size: 1.1em;
  font-family: sans-serif;
  color: var(--text-color);
  line-height: 1.8em;
  scroll-padding-top: var(--header-height);
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  line-height: 1.3em;
  color: var(--main-color);
}

.mobile-only {
  display: revert;
}

.desktop-only {
  display: none;
}

.button-link, button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 20px;
  padding-inline: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.button-link:hover, button:hover {
  background-color: var(--main-color-light);
}

ol, ul {
  padding-inline-start: 20px;
}

.footnote {
  font-size: 0.7em;
  line-height: 1.2em;
}
/* ----- end global ----- */

/* ----- start header ----- */
nav {
  position: sticky;
  top: 0.8em;
  width: 100%;
  height: var(--header-height);
}

nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  max-width: 992px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  color: var(--text-color-hover);
}

nav a:hover line {
  stroke: var(--text-color-hover);
}

nav .logo-link {
  display: contents;
}

nav .logo-link > img {
  height: 100%;
  min-width: 0px;
  padding-inline-start: var(--default-margin);
  padding-inline-end: calc(30px + 2 * var(--default-margin));
}

nav .menu-toggle, nav .menu-close {
  position: absolute;
  right: var(--default-margin);
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
  cursor: pointer;
}

nav svg > line {
  stroke: #17151a;
}

nav .menu-overlay {
  display: none;
}

nav .menu-overlay.menu-showing {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  touch-action: none;
}

nav .header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

nav .header-menu li {
  list-style: none;
  text-wrap: nowrap;
}

nav .header-menu.show {
  display: block;
}

nav .header-menu .menu-close {
  align-self: flex-end;
  margin-inline-end: 0;
  margin-block-start: calc(2 * var(--default-margin));
}

nav .header-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
  margin-block-start: calc(var(--header-height) + 2 * var(--default-margin));
  padding-inline-end: calc(4 * var(--default-margin));
}

nav .header-menu .submenu .submenu-icon {
  vertical-align: middle;
}

nav .header-menu > ul > li.submenu > ul {
  display: none;
}

nav .header-menu > ul > li.submenu > ul > li {
  padding-block: calc(var(--default-margin) / 2);
}

nav .header-menu > ul > li.submenu.show > ul {
  display: block;
}

nav .header-menu > ul > li.submenu.show .submenu-icon {
  transform: rotate(180deg);
}
/* ----- end header ----- */

/* ----- start main ----- */
main {
  width: calc(100% - 2 * var(--default-margin));
  max-width: 992px;
  box-sizing: border-box;
  margin-block-start: calc(2 * var(--default-margin));
  margin-block-end: calc(2 * var(--default-margin));
  margin-inline: calc(2 * var(--default-margin));
}

main > section {
  margin-block-start: var(--default-margin);
}

main > section .top {
  display: flex;
  flex-direction: column;
}

main > section .top > img {
  align-self: center;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

main > section > iframe {
  width: 100%;
}
/* ----- end main ----- */

footer {
  width: 100%;
  height: 50px;
  margin-block-start: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7em;
}

/* ----- start home page ----- */
.poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-margin);
}

.poster-container a {
  display: contents;
}

.poster-container img {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}
/* ----- end home page  ----- */

/* ----- start contact page  ----- */
.contact-form-section form > fieldset {
  border: none;
}

.contact-form-section form > fieldset > div {
  margin-block: 1em;
}

.contact-form-section form input {
  width: 50%;
}

.contact-form-section form textarea {
  width: 100%;
  field-sizing: content;
  resize: none;
}

.contact-form-section .form-submit-status {
  font-size: 0.8em;
}

.contact-form-section .form-submit-status.error {
  color: FireBrick;
}
/* ----- end contact page  ----- */

@media (min-width: 576px) {
  .poster-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  ol, ul {
    padding-inline-start: revert;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: revert;
  }

  nav {
    align-items: center;
  }

  nav .menu-toggle, nav .menu-close {
    display: none;
  }

  nav .menu-overlay {
    display: none !important;
  }

  nav .header-menu {
    position: static;
    display: block !important;
  }

  nav .header-menu .menu-toggle {
    display: none;
  }

  nav .header-menu > ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 1em;
    margin-block: auto;
    padding-inline-end: var(--default-margin);
  }

  nav .header-menu > ul > li.submenu {
    position: relative;
  }

  nav .header-menu > ul > li.submenu > ul {
    position: absolute;
    min-width: 100%;
    padding: 0;
  }

  nav .header-menu > ul > li.submenu > ul > li {
    padding-inline: var(--default-margin);
    padding-block: calc(var(--default-margin) / 2);
  }

  main {
    width: calc(100% - 4 * var(--default-margin));
  }

  main > section {
    padding-block-start: calc(2 * var(--default-margin));
  }

  main > section .top {
    flex-direction: row;
  }

  main > section .top img {
    min-width: 300px;
  }

  main > section .top .button-link {
    margin-inline-start: 40px;
  }
}
