<!DOCTYPE html>
<html lang="{{ gettext("lang_code") }}">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="blog-page">
    {% with current_page="blog.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main>
      <h1>{{gettext("blog_header") }}</h1>
      <div class="blog-list">
        <div class="blog-list-item">
          <a class="blog-list-item-title" href="/{{gettext('lang') }}/blog/識行先識指.html">識行先識指？</a>
          <div class="blog-list-item-content">
            最近看到一篇有趣的文章。2025年有一個在日本的小型observational study發現：<br />
            當兒童開始步行後（不是跟年紀直接相關），社交性指物(soical pointing)的次數會增加。<br />
            *社交性指物(soical pointing)是指涉及「人－人－物」之間關係的三方互動。例如：兒童先看父母，然後指向餅乾，再看父母的回應。
          </div>
        </div>
        <div class="blog-list-item">
          <a class="blog-list-item-title" href="/{{gettext('lang') }}/blog/怎麼學懂手指指.html">怎麼學懂手指指？</a>
          <div class="blog-list-item-content">
既然知道兒童在嬰兒時運用手勢的能力可預測其日後的語言發展，那麼應如何促進兒童運用手勢的能力呢？當然，最直接就是家長在日常生活中示範如何運用手勢。別小看這個簡單的方法，因為這也是經過研究支持的。
          </div>
        </div>
        <div class="blog-list-item">
          <a class="blog-list-item-title" href="/{{gettext('lang') }}/blog/手指指重要嗎.html">手指指，重要嗎？</a>
          <div class="blog-list-item-content">
有想過兒童五歲時口若懸河的表現可能是源自於嬰兒時的手勢及象徵性動作嗎？通常家長和老師覺得說話=溝通。但原來運用手勢亦是一種很重要的溝通能力，不論是一般發展中的兒童，還是有語言遲緩/語言障礙/自閉症的兒童。
          </div>
        </div>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
