<!DOCTYPE html>
<html lang="{{ gettext("lang_code") }}">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <h1>{{ gettext("cantonese_header") }}</h1>
      <section>
        <div class="top">
          <img src="/images/poster_cantonese_class_en.png" alt="Cantonese class poster" loading="lazy" />
          <div>
            <ul>
              <li>
                {{ gettext("cantonese_text_1") }}
              </li>
              <li>
                {{ gettext("cantonese_text_2") }}
              </li>
              <li>
                {{ gettext("cantonese_text_3") }}
              </li>
              <li>
                {{ gettext("cantonese_text_4") }}
              </li>
            </ul>
            <b class="desktop-only"><a class="button-link" href="https://forms.gle/yxB4jq5rDB6FMMKh8">{{ gettext("click_here") }}</a> {{ gettext("fill_form_text") }}</b>
          </div>
        </div>
        <p class="footnote">
          {{ gettext("cantonese_footnote") }}
        </p>
        <b class="mobile-only"><a class="button-link" href="https://forms.gle/yxB4jq5rDB6FMMKh8">{{ gettext("click_here") }}</a> {{ gettext("fill_form_text") }}</b>
      </section>
      <section lang="zh-Hant">
        <div class="top">
          <img src="/images/poster_cantonese_class_zh.png" alt="Cantonese class poster" loading="lazy" />
          <div>
            <ul>
              <li>
                45 或60分鐘課程（包括5分鐘家長咨詢）
              </li>
              <li>
                一對一/小組教學
              </li>
              <li>
                主題活動/遊戲、兒歌/歌曲、故事、日常對話等互動
              </li>
              <li>
                課程以廣東話為主（可輔以英語及普通話）
              </li>
            </ul>
            <b class="desktop-only"><a class="button-link" href="https://forms.gle/yxB4jq5rDB6FMMKh8">按此</a> 立即填寫線上報名表！</b>
          </div>
        </div>
        <p class="footnote">
          *線上廣東話課程屬於非受監管服務，不涉及任何治療性評估或治療。此服務與言語治療服務分開，旨在為學習者提供廣東話教學，以作文化、學術或個人興趣之用途。
        </p>
        <b class="mobile-only"><a class="button-link" href="https://forms.gle/yxB4jq5rDB6FMMKh8">按此</a> 立即填寫線上報名表！</b>
      </section>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
