<!DOCTYPE html>
<html lang="{{ gettext("lang_code") }}">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="service-page cantonese-page">
    {% with current_page="cantonese.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main class="two-columns">
      <div class="left">
        <h1>{{ gettext("cantonese_header") }}</h1>
        <section>
          <img
            class="poster"
            src="{{ gettext("cantonese_poster_link") }}"
            alt="{{ gettext("cantonese_poster_alt_text") }}" loading="lazy" />
          <p class="footnote">
            {{ gettext("cantonese_footnote") }}
          </p>
        </section>
      </div>
      <div class="right">
        <section>
          <h2>{{ gettext("cantonese_header_2") }}</h2>
          <ul>
            <li><strong>{{ gettext("cantonese_text_1") }}</strong></li>
            <li><strong>{{ gettext("cantonese_text_2") }}</strong></li>
            <li>{{ gettext("cantonese_text_3") }}</li>
            <li>{{ gettext("cantonese_text_4") }}</li>
            <li>{{ gettext("cantonese_text_5") }}</li>
          </ul>
        </section>
        <section>
          <div class="button-container">
            <div class="button-container-text"></div>
            <a class="button-link appointment-btn" href="{{ gettext("contact_link") }}">{{ gettext("book_an_appointment") }}</a>
          </div>
        </section>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
