<!DOCTYPE html>
<html lang="{{ gettext("lang_code") }}">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
    <script src="/scripts/contact.js"></script>
  </head>
  <body class="contact-page">
    {% with current_page="contact.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main>
      <h1>{{ gettext("contact_header") }}</h1>
      <section>
        <p>
          {{ gettext("contact_text_1") }}
          <a href="mailto:cantospeech@gmail.com">cantospeech@gmail.com</a>
        </p>
      </section>
      <section class="contact-form-section">
        <form
          id="contactForm"
          method="POST"
          action="https://script.google.com/macros/s/AKfycbxGKItLe3pVA8Jquv7l6dNGJroPHb3zJJMIEy3pMXxvXGtarFALuQ1qz8aPMdJ3hStNKA/exec">
          <div class="field-group">
            <div class="field">
              <label for="name">{{ gettext("contact_form_label_1") }}</label>
              <input id="name" name="name" type="text" autocomplete="name" placeholder="{{ gettext("contact_form_label_1") }}" required />
            </div>
            <div class="field">
              <label for="email">{{ gettext("contact_form_label_2") }}</label>
              <input id="email" name="email" type="email" autocomplete="email" placeholder="{{ gettext("contact_form_label_2") }}" required />
            </div>
          </div>
          <div class="field-group">
            <div class="field">
              <label for="phone">{{ gettext("contact_form_label_4") }}</label>
              <input id="phone" name="phone" type="phone" autocomplete="phone" placeholder="{{ gettext("contact_form_label_4") }}" required />
            </div>
          </div>
          <div class="field-group">
            <fieldset>
              <legend>{{ gettext("contact_form_service_question") }}</legend>
              <span>
                <input type="radio" id="consultation" name="service" value="Consultation" />
                <label for="consultation">{{ gettext("contact_form_service_option_1") }}</label>
              </span>
              <span>
                <input type="radio" id="speech_therapy" name="service" value="Speech Therapy" />
                <label for="speech_therapy" >{{ gettext("contact_form_service_option_2") }}</label>
              </span>
              <span>
                <input type="radio" id="cantonese" name="service" value="Cantonese Class" />
                <label for="cantonese">{{ gettext("contact_form_service_option_3") }}</label>
              </span>
            </fieldset>
          </div>
          <div class="field-group">
            <div class="field">
              <label for="message">{{ gettext("contact_form_label_3") }}</label>
              <textarea id="message" name="message" rows="3" required></textarea>
            </div>
          </div>
          <button type="submit">{{ gettext("contact_form_send_button_text") }}</button>
          <div class="form-submit-status"></div>
        </form>
        <img aria-hidden="true" class="logo" src="/images/logo_base.svg" />
      </section>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
