<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include "head_common.html" %}
  </head>
  <body>
    {% include "header.html" %}
    <main>
      <h1>{{ gettext("index_header") }}</h1>
      <section>
        <p>
          {{ gettext("index_text") }}
        </p>
      </section>
      <section class="poster-container">
        <a href="/speech_therapy.html" aria-label="{{ gettext("speech_therapy_link_aria_label") }}">
          <img src="/images/poster_speech_therapy.png" alt={{ gettext("speech_therapy_poster_alt_text") }} loading="lazy" />
        </a>
        <a href="/cantonese.html" aria-label={{ gettext("cantonese_link_aria_label") }}>
          <img src="/images/poster_cantonese_class.png" alt={{ gettext("cantonese_poster_alt_text") }} loading="lazy" />
        </a>
      </section>
    </main>
    {% include "footer.html" %}
  </body>
</html>
