<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include "head_common.html" %}
  </head>
  <body class="index-page">
    {% with current_page="" %}
      {% include "header.html" %}
    {% endwith %}
    <main>
      <section class="top">
        <div class="left">
          <h1>{{ gettext("index_header") }}</h1>
          <div>{{ gettext("index_text_1") }}</div>
          <br />
          <div>{{ gettext("index_text_2") }}</div>
        </div>
        <div class="right">
          <img aria-hidden="true" class="bubble" src="/images/speech_bubbles.svg" />
          <img aria-hidden="true" class="girl" src="/images/therapy_girl.svg" />
        </div>
      </section>
      <section class="description-container">
        <h4>
          {{ _("areas_of_practice_title") }}
        </h4>
        <div class="description-item">
          <h5>
            {{ _("stuttering_fluency") }}
          </h5>
          <p>
            {{ _("stuttering_fluency_index_description") }}  
          </p>
        </div>
        <div class="description-item">
          <h5>
            {{ _("early_intervention") }}
          </h5>
          <p>
            {{ _("early_intervention_index_description") }}  
          </p>
        </div>
        <div class="description-item">
          <h5>
            {{ _("speech_sound_disorders") }}
          </h5>
          <p>
            {{ _("speech_sound_disorders_index_description") }}  
          </p>
        </div>
        <div class="description-item">
          <h5>
            {{ _("social_communication_for_autistic_children_and_teens") }}
          </h5>
          <p>
            {{ _("social_communication_for_autistic_children_and_teens_index_description") }}  
          </p>
        </div>
      </section>
      <section class="poster-container">
        <img src="{{ gettext("stuttering_fluency_poster_link") }}" alt={{ gettext("stuttering_fluency_poster_alt_text") }} loading="lazy" />
        <img src="{{ gettext("early_intervention_poster_link") }}" alt={{ gettext("early_intervention_poster_alt_text") }} loading="lazy" />
        <img src="{{ gettext("speech_sound_disorders_poster_link") }}" alt={{ gettext("speech_sound_disorders_poster_alt_text") }} loading="lazy" />
        <img src="{{ gettext("social_communication_poster_link") }}" alt={{ gettext("social_communication_poster_alt_text") }} loading="lazy" />
      </section>
      <section class="description-container">
        <div class="description-item">
          <h4>
            {{ _("online_cantonese_class") }}  
          </h4>
          <h5>
            {{ _("areas_of_support_title") }}
          </h5>
          <p>
            {{ _("online_cantonese_class_index_description") }}  
          </p>
        </div>
      </section>
      <section class="poster-container">
        <img src="{{ gettext("cantonese_poster_link") }}" alt={{ gettext("cantonese_poster_alt_text") }} loading="lazy" />
      </section>
      <section class="button-container">
        <a class="button-link light appointment-btn" href="{{ gettext("contact_link") }}">
          {{ gettext("book_an_appointment") }}
        </a>
      </section>
    </main>
    {% include "footer.html" %}
  </body>
</html>
