<!DOCTYPE html>
<html lang="{{ gettext("lang_code") }}">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="service-page">
    {% with current_page="/speech_therapy.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main class="two-columns">
      <div class="left">
        <h1>{{ gettext("speech_therapy_header") }}</h1>
        <section>
          <img
            class="poster"
            src="{{ gettext("speech_therapy_poster_link") }}"
            alt="{{ gettext("speech_therapy_poster_alt_text") }}" loading="lazy"  />
          <p>
            {{ gettext("speech_therapy_text_1") }}
          </p>
        </section>
      </div>
      <div class="right">
        <section>
          <h2>{{ gettext("speech_therapy_header_2") }}</h2>
          <p>{{ gettext("speech_therapy_text_2") }}</p>
        </section>
        <section>
          <h2>{{ gettext("speech_therapy_header_3") }}</h2>
          <p>
            <strong>{{ gettext("speech_therapy_text_3") }}</strong><br />
            {{ gettext("speech_therapy_text_4") }}
          </p>
        </section>
        <section>
          <h2>{{ gettext("speech_therapy_header_4") }}</h2>
          <p>
            <strong>{{ gettext("speech_therapy_text_5") }}</strong><br />
            {{ gettext("speech_therapy_text_6") }}
            <div class="button-container">
              <strong>{{ gettext("speech_therapy_text_7") }}</strong>
              <a class="button-link light appointment-btn" href="https://forms.gle/L2vvTgKtjAzdy95cA">{{ gettext("book_an_appointment") }}</a>
            </div>
          </p>
        </section>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
