<!DOCTYPE html>
<html lang="{{ gettext("lang_code") }}">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="service-page">
    {% with current_page="/speech_therapy.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main class="two-columns">
      <div class="left">
        <h1>{{ gettext("speech_therapy_header") }}</h1>
        <section>
          <img
            class="poster"
            src="{{ gettext("speech_therapy_poster_link") }}"
            alt="{{ gettext("speech_therapy_poster_alt_text") }}" loading="lazy"  />
          <p>
            {{ gettext("speech_therapy_text_1") }}
          </p>
        </section>
      </div>
      <div class="right">
        <section>
          <h2>{{ gettext("speech_therapy_header_2") }}</h2>
          <p>{{ gettext("speech_therapy_text_2") }}</p>
        </section>
        <section>
          <h2>{{ gettext("speech_therapy_header_3") }}</h2>
          <h3>{{ gettext("speech_therapy_text_3") }}</h3>
          <p>
            {{ gettext("speech_therapy_text_4") }}
          </p>
        </section>
        <section>
          <h2>{{ gettext("speech_therapy_header_4") }}</h2>
          <h3>{{ gettext("speech_therapy_text_5") }}</h3>
          <p>
            {{ gettext("speech_therapy_text_6") }}
          </p>
          <h3>{{ gettext("speech_therapy_text_7") }}</h3>
          <p>
            {{ gettext("speech_therapy_text_8") }}
          </p>
          <div class="button-container">
            <strong>{{ gettext("speech_therapy_text_9") }}</strong>
            <a class="button-link light appointment-btn" href="{{ gettext("contact_link") }}">{{ gettext("book_an_appointment") }}</a>
          </div>
        </section>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
