<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="blog-page">
    {% with current_page="blog/怎麼學懂手指指.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main>
      <h1>怎麼學懂手指指？</h1>
      <div class="blog-post-content">
        <p>
既然知道兒童在嬰兒時運用手勢的能力可預測其日後的語言發展，那麼應如何促進兒童運用手勢的能力呢？當然，最直接就是家長在日常生活中示範如何運用手勢。別小看這個簡單的方法，因為這也是經過研究支持的。
        </p>

        <p>
          研究(Romano et al., 2024)發現，如果家長能夠做以下兩點，兒童更能學懂運用手勢表達自己：
        </p>
        <ol>
          <li>
            <b>簡單語言搭配手勢示範：</b>
            <div>
              指著杯並說「杯」、指著車並說「車」、，或指著一張貓的圖片說「貓貓」。這樣能引導兒童用手指指物(pointing)。
            </div>
          </li>
          <li>
            <b>在環境中製造溝通機會</b>
            <div>
              把餅乾放在高處、給兒童一個他無法自己打開零食盒，或拿著兩個玩具問：「你要波還是車？」這樣能引導兒童伸手(reaching)。
            </div>
          </li>
        </ol>

        <p>
          研究(Romano et al., 2024)亦發現，如果兒童能理解的詞彙越多，就越有可能在看到「語言＋手勢示範」後，用自己的手勢做出回應。背後的原因可能是由於兒童有良好的理解能力，加上成人用簡單語言搭配手勢作示範，兒童能更有效處理訊息，因此他們有更多時間運用手勢來作回應。
        </p>

        <p>
          所以，要令兒童學懂「手指指」或其他手勢不是一件很難的事情，家長可多利用日常生活中需要溝通的機會示範手勢並搭配簡單語言。這樣能令更容易引導兒童運用同手勢
        </p>

        <h2>Reference</h2>
        <p>
          <a href="https://doi.org/10.1111/infa.12636">Romano, M., Lloyd, B. P., Lucca, K., & Eugenio, J. (2024). Getting to the point: Examining associations between adult interactional strategies and infant gestures. Infancy. https://doi.org/10.1111/infa.12636</a>
        </p>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
