<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="blog-page">
    {% with current_page="blog/神奇數字36.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main>
      <h1>神奇數字 - 36？</h1>
      <div class="blog-post-content">
        <img class="header-image" src="/images/神奇數字36.png" alt="神奇數字36" />
        <p>
          眾所周知，持續且高質量的語言輸入（language input）對語言學習非常重要。<br />
          有人提出<b>「快速配對」</b>（fast mapping）的概念，用來解釋幼兒為何能在短時間內學會大量詞彙：<b>在自然、有意義的情境中，幼兒只需接觸一兩次新詞語，並結合情境中的物品或線索，就能推測出詞語的大致意思。</b>
        </p>

        <p>
          <b>那麼，對於有語言障礙（language disorders）的兒童，他們需要接觸多少次才能學會新詞呢？</b>
        </p>

        <p>
          2019 年的一項研究（Storkel et al., 2019）指出，一個關鍵的「數字」是 <b>36 次接觸。</b><br />
          研究中，34 位有語言障礙的幼稚園兒童透過繪本互動（interactive storybook reading intervention）學習 60 個 Tier II 詞彙（即高頻、跨學科常見詞）。在 6 次治療課堂中，每個目標詞語平均接觸 6 次（6 × 6）。<br />

          研究同時比較了不同安排方式，例如：<br />
          <ul>
            <li>9 次課堂，每次 4 次接觸（4 × 9）</li>
            <li>4 次課堂，每次 9 次接觸（9 × 4）</li>
          </ul>
        </p>
        <p>
          結果發現，不論課堂如何分配，只要有語言障礙的兒童<b>在自然、有意義的情境中接觸（exposure）該詞語36 次</b>，就能學懂該詞語。<br />

          換句話說，關鍵不在於每節課接觸多少次或總共有多少節課，而是「總接觸次數」本身。
        </p>

        <p>
          以「香蕉」為例，當兒童未能說出這個詞時語，我們可以先問自己：在日常生活中，<b>我是否已經在自然、有意義的情境中，讓兒童反覆接觸「香蕉」這個詞大約 36 次？</b>而不只是看到時問一句「咩嚟㗎？」
        </p>

        <p>
          「睇下！有<b>香蕉</b>」「係<b>香蕉</b>呀」<br />
          「<b>香蕉</b>喺碗度」<br />
          「要<b>香蕉</b>」「搣<b>香蕉</b>」「切<b>香蕉</b>」「食<b>香蕉</b>」「桔<b>香蕉</b>」<br />
          「<b>香蕉</b>好味道」「<b>香蕉</b>軟淋淋」「黃色<b>香蕉</b>」「跌咗<b>香蕉</b>」「執起<b>香蕉</b>」「<b>香蕉</b>污糟」<br />
          「再食<b>香蕉</b>？」「枱度有<b>香蕉</b>」<br />
          「<b>香蕉</b>俾媽媽」「俾<b>香蕉</b>」<br />
          「<b>香蕉</b>喺度」「擺好<b>香蕉</b>」  <br />
        </p>

        <p>
          重點不是單一句問答，而是<b>讓「香蕉」在不同日常情境中自然出現、重複出現，累積足夠的有意義接觸次數</b>，才更容易幫助兒童真正學會這個詞語。
        </p>

        <p>
          當然，研究人員也發現，雖然兒童在治療期間對詞彙學習反應不錯，但在治療結束後約 5–6 天，他們已經開始難以記住目標詞彙的意思。因此，<b>一開始的大量接觸（initial multiple exposures）只是第一步</b>，但非常重要。<br />

          但要讓詞彙真正長期保留下來，還需要後續的鞏固與持續練習。下一次再跟大家分享，怎樣幫助有語言障礙的兒童更長時間地記住目標詞彙。
        </p>

        <h2>Reference:</h2>
        <p>
          <a href="https://doi.org/10.1044/2019_LSHSS-VOIA-18-0131">Storkel, H. L., Komesidou, R., Pezold, M. J., Pitt, A. R., Fleming, K. K., & Swinburne Romine, R. E. (2019). The impact of dose and dose frequency on word learning by kindergarten children with developmental language disorder during interactive book reading. Language, Speech, and Hearing Services in Schools, 50(4), 518–539. https://doi.org/10.1044/2019_LSHSS-VOIA-18-0131</a>
        </p>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
