<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext("title") }}</title>
    {% include 'head_common.html' %}
  </head>
  <body class="blog-page">
    {% with current_page="blog/識行先識指.html" %}
      {% include 'header.html' %}
    {% endwith %}
    <main>
      <h1>識行先識指？</h1>
      <div class="blog-post-content">
        <p>
          最近看到一篇有趣的文章。2025年有一個在日本的小型observational study發現：<br />
          當兒童開始步行後（不是跟年紀直接相關），社交性指物(soical pointing)的次數會增加。<br />
          *社交性指物(soical pointing)是指涉及「人－人－物」之間關係的三方互動。例如：兒童先看父母，然後指向餅乾，再看父母的回應。
        </p>

        <p>
          為什麼兒童學懂步行後更願意用手指指物？研究人員指出背後原因有機會是：
        </p>
        <ol>
          <li>兒童步行時的雙手較爬行時更自由；</li>
          <li>兒童步行時視線位置變高，令視野更寬廣，能看到更遠的事物，亦更常看到父母的臉。因此兒童在步行時能接收到更多環境刺激，更願意探索四周及用手指指物作分享</li>
        </ol>

        <p>
          所以：
        </p>
        <ol>
          <li>如果兒童較遲開始步行，亦有機會較遲用手指指物</li>
          <li>如果兒童已經開始步行，但尚未用手指指物作分享事物，亦可能需要作出適時的介入</li>
        </ol>

        <h2>Reference:</h2>
        <p>
          <a href="https://doi.org/10.1111/infa.70037">Toyama, N. (2025). The association between pointing and walking in infants: A longitudinal observational study. Infancy. https://doi.org/10.1111/infa.70037 </a>
        </p>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
