html {
  height: 100%;
  font-size: 1.1em;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  background-color: #fef7ff;
  color: #17151a;
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% - 16px);
  max-width: 992px;
  margin-inline: 8px;
  margin-block-start: 8px;
  background-color: #eadcf7;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #113145;
}

nav a:hover {
  color: #205b80;
}

nav .logo-link {
  margin: 8px;
}

nav .logo-link > img {
  height: 100px;
}

nav .menu-toggle, nav .menu-close {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

nav svg > line {
  stroke: #17151a;
}

nav .menu-overlay {
  display: none;
}

nav .menu-overlay.menu-showing {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

nav > ul {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-block: 0;
  padding-inline: 8px;
  background-color: #eadcf7;
}

nav > ul.show {
  display: flex;
}

nav > ul > .menu-close {
  align-self: flex-end;
  margin-top: 18px;
  margin-right: 10px;
}

nav > ul > li {
  list-style: none;
  text-wrap: nowrap;
}

main {
  width: calc(100% - 16px);
  max-width: 992px;
  box-sizing: border-box;
  margin-inline: 8px;
  padding: .7em;
  background-color:#eadcf7;
  border-radius: 10px;
}

footer {
  width: 100%;
  height: 50px;
  margin-block-start: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#eadcf7;
  font-size: .7em;
}

@media (min-width: 768px) {
  nav {
    align-items: flex-end;
  }

  nav .menu-toggle, nav .menu-close {
    display: none;
  }

  nav .menu-overlay {
    display: none !important;
  }

  nav > ul {
    position: static;
    display: flex !important;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 1em;
  }

  nav > ul > .menu-toggle {
    display: none;
  }
}
